{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        IT Request Form V2.0
      </h1>

      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>Make changes to your Quantum Account</li>
        <li>Request additional access</li>
        <li>Make changes to your Telephone System</li>
      </uL>

      <p>Please Note: All Requests will Require Approval from your Line Manager, Budget Holder or Functional Head</p>

      <p>
        <a class="button button-start" href="ITRequest" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>Discuss your request with your Manager</p>

      <p>Speak to ICT Deskside Support if you are unsure</p>


    </div>

  </div>

</main>

{% endblock %}
