{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/docs/tutorials-and-examples">Back</a>

      <h1 class="heading-large">
        When are you going to bang em?
      </h1>



      <form class="form" action="check-your-answers-page" method="post">

        <div class="form-group">
                <fieldset>

                  <legend class="visually-hidden">Where do you live?</legend>

                  <div class="multiple-choice">
                    <input id="radio-1" type="radio" name="radio-group2" value="Tomorrow"{{ checked ("radio-group2", "Tomorrow")}}>
                    <label for="radio-1">Tomorrow</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="radio-2" type="radio" name="radio-group2" value="Now"{{ checked ("radio-group2", "Now")}}>
                    <label for="radio-2">Now</label>
                  </div>
                  <p class="form-block">or</p>
                  <div class="multiple-choice">
                    <input id="radio-3" type="radio" name="radio-group2" value="Dunt no"{{ checked ("radio-group2", "Dunt no")}}>
                    <label for="radio-3">Dunt no</label>
                  </div>

          </div>
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
